{% extends 'register/base.html' %}
{% load static %}

{% block content %}
    <section class="mainbody">
        <form id="registration_form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="left_colomn" id="flex_page1">
                <div class="photo_ava_container" id="photo_ava_container">
                    <label for="input_file" class="input_file">
                        <p class="text photo_ava">Аватар профиля</p>
                        <button class="button_continue upload_ava">
                            <p class="button_text upload">Загрузить</p>
                        </button>
                        <p class="light_text copyright upload">Загрузите до 15 фотографий, весом не более 10мб</p>
                    </label>
                    <input type="file" name="photo_ava" id="input_file" accept=".png,.jpg,.jpeg" style="display: none;">
                </div>
                <div class="name">
                    <label for="name"><p class="text name_text">Имя и фамилия</p></label>
                    <input type="text" name="name" id="name" value="Дмитрий Лобанев" class="input_text">
                    <div class="sex">
                        <div class="man">
                            <input type="radio" name="sex" id="man" class="radio-label" value="M">
                            <label for="man"><p class="text sex_text">Парень</p></label>
                        </div>
                        <div class="woman">
                            <input type="radio" name="sex" id="woman" class="radio-label" value="F">
                            <label for="woman"><p class="text sex_text">Девушка</p></label>
                        </div>
                    </div>
                </div>
                <div>
                    <input type="date" name="date_of_birth" class="data" placeholder="Дата рождения" id="data">
                </div>
                <div>
                    <label for="input_number" style="display: None;" id="input_number_label"><p class="text name_text err">Номер телефона | неверный формат</p></label>
                    <input type="number" name="number" placeholder="Номер телефона" class="input_text" id="input_number">
                </div>
                <div>
                    <label for="input_tg" style="display: None" id="input_tg_label">
                        <p class="text name_text err" style="display: None;" id="dog">Ник в телеграме должен начинаться с "@"</p>
                        <p class="text name_text err" style="display: None;" id="length">Ник в телеграме содержит минимум 5 символов</p>
                    </label>
                    <input type="text" name="tg" placeholder="Ник в телеграме" class="input_text" id="input_tg">
                </div>
                <div class="name">
                    <label for="aboutme"><p class="text name_text">О себе</p></label>
                    <textarea id="aboutme" name="description" class="input_text textarea"></textarea>
                    <p class="light_text aboutme">Например: Редко готовлю, но люблю ботать на кухне по ночам. Хочу завести собаку. Очень люблю читать, играть в хорроры и смотреть аниме. Открыт к общению и взаимопомощи :)</p>
                </div>
            </div>
            <div class="left_colomn" id="flex_page2">
                <div class="who_are_you">
                    <div class="student">
                        <label for="student">
                        <input type="radio" name="who_are_you" id="student" class="radio-label" value="S">
                        <p class="text sex_text">Студент / выпускник</p>
                        </label>
                    </div>
                    <div class="employee">
                        <input type="radio" name="who_are_you" id="employee" class="radio-label" value="E">
                        <label for="woman"><p class="text sex_text">Сотрудник</p></label>
                    </div>
                </div>
                <div class="left_colomn" id="student_colomn">
                    <div class="grade_container">
                        <p class="text grade_text">Курс</p>
                        <div class="grade">
                            <label class="grade_education" for="grage">
                                <input type="radio" name="level" value="1" style="display: none;" id="1">
                                1
                            </label>
                            <label class="grade_education" for="grage">
                                <input type="radio" name="level" value="2" style="display: none;" id="2">
                                2
                            </label>
                            <label class="grade_education" for="grage">
                                <input type="radio" name="level" value="3" style="display: none;" id="3">
                                3
                            </label>
                            <label class="grade_education" for="grage">
                                <input type="radio" name="level" value="4" style="display: none;" id="4">
                                4
                            </label>
                            <label class="grade_education" for="grage">
                                <input type="radio" name="level" value="5" style="display: none;" id="5">
                                5
                            </label>
                            <label class="grade_education" for="grage">
                                <input type="radio" name="level" value="6" style="display: none;" id="6">
                                6
                            </label>
                        </div>
                        <div class="grade_education_end">
                            <input type="checkbox" id="end" name="level" value="END">
                            <label for="end" class="text sex_text">Уже окончил</label>
                        </div>
                    </div>
                    <div class="select_level_education_container">
                        <label for="level_education">Ступень образования</label>
                        <select class="select_level_education" name="education" id="level_education">
                            <option value="" disabled selected>Ступень образования</option>
                            <option value="bachelor">Бакалавриат</option>
                            <option value="magistracy">Магистратура</option>
                            <option value="postgraduate">Аспирантура</option>
                        </select>
                    </div>
                    <div class="select_level_education_container">
                        <label for="faculty_education">Факультет</label>
                        <select class="select_level_education" name="faculty" id="faculty_education">
                            <option value="" disabled selected>Факультет</option>
                            <option value="MIEM">МИЭМ</option>
                            <option value="FKN">ФКН</option>
                            <option value="VSHB">ВШБ</option>
                        </select>
                    </div>
                    <div class="select_level_education_container">
                        <label for="op_education">Образовательная программа</label>
                        <select class="select_level_education" name="program" id="op_education">
                            <option value="" disabled selected>Образовательная программа</option>
                            <option value="IVT">ИВТ</option>
                            <option value="PM">ПМ</option>
                            <option value="ITSS">ИТСС</option>
                        </select>
                    </div>
                    <div class="work">
                        <input type="text" name="work" placeholder="Работа" class="input_text" id="work_student">
                    </div>
                </div>
                <div class="left_colomn" id="employee_colomn">
                    <div class="work">
                        <input type="text" name="work" placeholder="Кем вы работаете" class="input_text" id="work">
                    </div>
                    <div class="year">
                        <input type="number" name="year_start_work" placeholder="2023" class="input_text">
                    </div>
                    </div>
            </div>
        </form>
        <div class="right_column">
            <div class="your_page_container">
                <p class="text die_text" style="padding-left: 8px;">Так будет выглядеть твоя будущая страница</p>
                <div class="die your_page">
                    <div class="your_page__image_container">
                        <div class="your_page__image" id="image_container"></div>
                        <button class="button your_page__image_button">
                            <p class="bold_text image_button">Показать контакты</p>
                        </button>
                    </div>
                    <div class="your_page__information_container">
                        <div class="your_page__information">
                            <div class="your_page__information__impotrant_information_container">
                                <div class="your_page__information__impotrant_information_name">
                                    <p class="bold_text important_information_name_text" id="display_name">Дмитрий Лобанев</p>
                                </div>
                                <div class="your_page__information__impotrant_information_aboutme">
                                    <p class="text your_page__information__impotrant_information_aboutme_text" id="sex">Парень</p>
                                    <div class="your_page__information__impotrant_information_aboutme_circle"></div>
                                    <p class="text your_page__information__impotrant_information_aboutme_text" id="age"></p>
                                    <div class="your_page__information__impotrant_information_aboutme_circle" id="age_circle" style="display: none;"></div>
                                    <div class="text your_page__information__impotrant_information_aboutme_textplace" id="grade_text"></div>
                                    <div class="your_page__information__impotrant_information_aboutme_circle" id="grade_text_1__circle"></div>
                                    <div class="text your_page__information__impotrant_information_aboutme_textplace" id="grade_text_1"></div>
                                    <div class="your_page__information__impotrant_information_aboutme_circle" id="grade_text_2__circle"></div>
                                    <div class="text your_page__information__impotrant_information_aboutme_textplace" id="grade_text_2"></div>
                                    <div class="your_page__information__impotrant_information_aboutme_circle" id="grade_text_3__circle"></div>
                                    <div class="text your_page__information__impotrant_information_aboutme_textplace" id="grade_text_3"></div>
                                </div>
                            </div>
                            <div class="text your_page__information_textplace" id="work_display_text"></div>
                            <p class="text your_page__information_text" id="display_text"></p>
                        </div>
                        <div class="your_page__no_text">
                            <div class="your_page__no_text__first_part">
                                <div class="your_page__no_text__first_part__none"></div>
                                <div class="your_page__no_text__first_part__textplace_container">
                                    <div class="your_page__no_text__first_part__first_textplace"></div>
                                    <div class="your_page__no_text__first_part__second_textplace"></div>
                                </div>
                            </div>
                            <div class="your_page__no_text__second_part">
                                <div class="your_page__no_text__second_part__line"></div>
                                <div class="your_page__no_text__second_part__textplace_container">
                                    <div class="your_page__no_text__second_part__first_textplace"></div>
                                    <div class="your_page__no_text__second_part__second_textplace"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="die" id="die_page1">
                <div class="die_text_container">
                    <div class="text_die">
                        <p class="bold_text die_bold_text">Мы совсем ничего про тебя не знаем</p>
                        <div>
                            <p class="text die_text">Расскажи о себе.</p>
                            <p class="text die_text">Люди пишут тем, кому доверяют. Тем более при поиске соседа</p>
                        </div>
                    </div>
                    <img src={% static 'register/img/smile.svg' %} alt="smile">
                </div>
            </div>
            <div class="die" id="die_student">
                <div class="die_text_container">
                    <div class="text_die">
                        <p class="bold_text die_bold_text">Расскажи где ты учишься</p>
                        <div>
                            <br>
                            <p class="text die_text">Часто студенты ищут соседей по схожим интересам</p>
                        </div>
                    </div>
                    <img src={% static 'register/img/smile.svg' %} alt="smile">
                </div>
            </div>
            <div class="die" id="die_employee">
                <div class="die_text_container">
                    <div class="text_die">
                        <p class="bold_text die_bold_text">Расскажи кем ты работаешь</p>
                        <div>
                            <br>
                            <p class="text die_text">У студентов будет больше доверия к тем, кого они знают</p>
                        </div>
                    </div>
                    <img src={% static 'register/img/smile.svg' %} alt="smile">
                </div>
            </div>
        </div>
    </section>
    <section class="continue">  
        <button class="button_continue" id="continue">
            <p class="button_continue_text">Продолжить</p>
        </button>
        <button class="button_continue" id="register" style="display: none;" onclick="postData()">
            <p class="button_continue_text">Зарегистрироваться</p>
        </button>
    </section>
    <script src="{% static 'register/js/script.js' %}"></script>
{% endblock content %}